{% extends "base.html" %}
{% block head %}
{{ super() }}

{% endblock %}
<title> book</title>
{% block body %}


</body>
	

<div class="index_tab_content" id="divRecommendedContent">

  <ul class="index_tab_wrap">

      <li>
        <a href="javascript:;" onclick="Detail('P20090620092');" >
          <h4>flask web开发</h4>    

          <img id="atip0" src="https://images-na.ssl-images-amazon.com/images/I/51bTrx9a-%2BL._SX379_BO1,204,203,200_.jpg" width="120" height="140" title="flask web开发" />
        </a>
      </li>	


{% endblock %}
{% block scripts %}
<script src="../static/js/scripts.js"></script>
{% endblock %}


