<section class="hero is-green">
  <nav class="navbar is-transparent">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        
        <h2 href="/" class="subtitle"><strong>Share</strong></h2>
	
	<i class="search icon"></i>
		<input type="text" placeholder="搜索..." name="q">
      </a>
      
      <div id="navbar-burger-id" class="navbar-burger burger" data-target="navbar-menu-id">
        
        <span></span>
        <span></span>
      </div>
    </div>
    <div id="navbar-menu-id" class="navbar-menu">
      <div class="navbar-start">
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
	    <p class="control">
              <a href="/video" class="button is-primary is-outlined">
                <span>学习视频</span>
              </a>
            </p>
            <p class="control">
              <a href="/wenzhang" class="button is-primary is-outlined">
                <span>技术文章</span>
              </a>
            </p>
	    <p class="control">
              <a href="/data" class="button is-primary is-outlined">
                <span>资源下载</span>
              </a>
            </p>
	    <p class="control">
              <a href="/login" class="button is-primary is-outlined">
                <span>教师登录</span>
              </a>
            </p>
            <p class="control">
              <a href="/login" class="button is-primary is-outlined">
                <span>学生登录</span>
              </a>
            </p>
            <p class="control">
              <a href="/settings" class="button is-primary is-outlined">
                <span id="cog" class="icon">
                  <i class="fa fa fa-cog"></i>
                </span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>
</section>
